{% extends "base.html" %} 
{% block title %}Show{% endblock %} 
{% block head %} 
    {{ super() }}
{% endblock %} 
{% block body %}
<div class="container">
    <h1>영화 정보 조회</h1>
    <p>영화명 : {{movie.title}}</p>
    <p>영화명(영문) : {{ movie.title_en }}</p>
    <p>누적 관객수 : {{ movie.audience}}</p>
    <p>개봉일 : {{ movie.open_date }}</p>
    <p>장르 : {{ movie.genre }}</p>
    <p>관람등급 : {{ movie.watch_grade }}</p>
    <p>평점 : {{ movie.score}}</p>
    <p>포스터 이미지 URL : {{ movie.poster_url}}</p>
    <p>영화소개 : {{ movie.description }}</p>
    <div>
        <a href="/movies/">[목록]</a>
        <a href="/movies/{{ movie.id }}/edit/">[수정]</a>
        <a href="/movies/{{ movie.id }}/delete/">[삭제]</a>

    </div>

</div>
{% endblock %}
