<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>학생수정</h1>
    <form action="/students/{{ student.pk }}/update/" method='POST'>
        {% csrf_token %}
        <label for="name">name : </label>
        <input type="text" name="name" value="{{ student.name }}"/><br>
        
        <label for="email">email</label>
        <input type="email" name="email" value="{{ student.email }}"/><br>
        
        <label for="birthday">birthday</label>
        <input type="date" name="birthday" value="{{ student.birthday|date:'Y-m-d' }}"/><br>
        
        
        <label for="age">age</label>
        <input type="text" name="age" value="{{ student.age }}"/><br>
        
        <input type="submit" value="Submit"/><br>
    </form>
</body>
</html>